language: go

sudo: false

os:
  - linux
  - osx

go:
  - 1.9.x
  - 1.10.x
  - master

install:
 - go get -t ./...

script:
 - diff <(gofmt -d .) <(printf "")
 - go test -v -cpu=2 ./...
 - go test -cpu=2 -tags=noasm ./...
 - go test -cpu=1,2,4 -short -race ./...
 - go test -cpu=2,4 -short -race -tags=noasm ./...

matrix:
  allow_failures:
    - go: 'master'
  fast_finish: true 
